<html>

<head>
	<title>Documentation Wiki : Extractive Metallurgy</title>
</head>

<body>

<h2> Documentation Wiki</h2>

<p>This page is supposed to be a <b>Documentation Wiki</b> for Extractive Metallurgy. All the Documentation developed by the Theory Teams is going to end up here. This page is going to have an index table at the top most, navigation and search bar on left vertical and all the theory gets tagged with id so that that section can be accessed through http://localhost:5000/documentation_wiki.html#'id'  as the url  </p>

</body>

</html>